*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    font-weight: 600;
    background-color: blueviolet;
}

.container{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin: 10px;
    margin-top: 30px;
}

img{
    height: 410px;
    width: 600px; 
    border-radius: 25px;
}

.prev{
    color: white;
    padding-right: 20px;
}
.prev i{
    font-size: 40px;
    cursor: pointer;
}

.next{
    color: white;
    padding-left: 20px; 
}
.next i{
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width:426px) {
    img{
        height: 200px;
        width: 100%; 
        border-radius: 25px;
    }
}
